@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
<table id="datatable" class="display nowrap" style="border: 10px solid black;">
    <thead class="bg-dark text-light">
        <tr>
            <th class=" text-dark">Pp</th>
            <th>Ad-Soyad</th>
            <th>Doğum tarihi</th>
            <th>Cinsiyet</th>
            <th>Konum</th>
            <th>Açıklama</th>
            <th class="text-dark">İşlemler</th>
        </tr>
    </thead>
</table>
</div>
<br />

<div>
    <a class="btn btn-success " href="/Home/iletisim" style="float: left; margin-right: 10px;">İletişim Veri Ekle</a>
</div> 
@* <div style="display: flex; align-items: center; gap: 10px; margin-top: 10px;">
    <a class="btn btn-danger" onclick="Sil()" style="margin-bottom: 0; height: 38px; display: flex; align-items: center; padding: 0 12px;">İletişim Veri Sil :</a>
    <input class="form-control" type="text" placeholder="Silinecek Id'yi girin..." style="width: 160px; height: 38px;" />
</div> *@
<script src="~/js/verisil.js"></script>
<script src="~/js/İletisimlistesi.js"></script>




