<br />
<br />
<br />
<div class="container justify-content-center align-items-center">
    <div class="container-fluid bg-dark p-4 shadow-lg" style="border-radius: 43px; box-shadow: 4px 4px 12px black;max-width: 600px; width: auto;">
        <h3 class="text-center text-white mb-4">📝 Kayıt Ol</h3>
        <form id="registerForm">
            <div class="mb-3">
                <label for="KullaniciAdi" class="form-label text-white">Kullanıcı Adı:</label>
                <input type="text" class="form-control" id="KullaniciAdi" placeholder="Kullanıcı adınızı giriniz" required>
            </div>
            <div class="mb-3">
                <label for="KullaniciSifre" class="form-label text-white">Şifre:</label>
                <input type="password" class="form-control" id="KullaniciSifre" placeholder="Şifrenizi giriniz" required>
            </div>
            <div class="mb-3">
                <label for="KullaniciSifreTekrari" class="form-label text-white">Şifre Tekrar:</label>
                <input type="password" class="form-control" id="KullaniciSifreTekrari" placeholder="Tekrar Şifrenizi giriniz" required>
            </div>
            <div class="d-grid mt-4">
                <button type="submit" class="btn btn-light">Kayıt Ol</button>
            </div>
            <div class="text-center mt-3">
                <a href="/Home/Login" class="text-white-50">Zaten hesabın var mı? Giriş yap</a>
            </div>
        </form>
    </div>
</div>
<script src="~/js/loginregister.js"></script>